@model List<Restoranas.Models.Visit>

@{
    ViewData["Title"] = "Praeje";
    string userName = ViewContext.HttpContext.Session.GetString("UserName");
}
<div class="phone">
    <div class="row mb-3">
        <div class="col">
            <h1 class="center">Klientas | @userName</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-6 col-md-4">
            <a class="btn btn-outline-dark  btn-block d-flex align-items-center justify-content-center"
               asp-area="" asp-controller="Apsilankymai" asp-action="Aktualiausi">Aktualiausi apsilankymai</a>
        </div>
        <div class="col-6 col-md-4">
            <a class="btn btn-outline-dark btn-block d-flex align-items-center justify-content-center"
               asp-area="" asp-controller="Patiekalas" asp-action="Index">Patiekalų Meniu</a>
        </div>
        <div class="col-6 col-md-4">
            <a class="btn btn-dark btn-block d-flex align-items-center justify-content-center"
               asp-area="" asp-controller="Apsilankymai" asp-action="Praeje">Praėję apsilankymai</a>
        </div>
    </div>

    <div class="skiltiespavadinimas">
        <p class="center">Praėję apsilankymai</p>
    </div>

    @foreach (var apsilankymas in Model)
    {
        <div class="skiltis p-3">
            <div>
                <p><strong>@apsilankymas.data.ToString("MMMM d, dddd HH:mm")</strong></p>
                <p><strong>Žmonių kiekis:</strong> @apsilankymas.zmoniu_skaicius</p>
                <p><strong>Staliuko Nr:</strong> @apsilankymas.staliuko_nr</p>
                <p><strong>Suma:</strong> @apsilankymas.naudotojo_id</p>

                @if (!apsilankymas.apmoketas)
                {
                    <div class="row">
                        <div class="col-12 col-md-8 offset-md-2">
                            <a href="@Url.Action("ApmoketiUzsakyma", "Apsilankymai", new { apsilankymoId = apsilankymas.apsilankymo_id })" class="btn btn-outline-dark btn-block">Apmokėti sąskaitą</a>
                        </div>
                    </div>
                }
                else
                {
                    <p><strong>Apmokėta</strong></p>
                }
            </div>
        </div>
    }
</div>
