@model List<Restoranas.Models.TableInfo>

<div class="phone">
    <div class="row mb-3">
        <div class="col">
            <h1 class="center">Vadovas | Jonas Jonaitis</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-6 col-md-4">
            <a class="btn btn-outline-dark btn-block d-flex align-items-center justify-content-center"
               asp-area="" asp-controller="Apsilankymai" asp-action="Aktualiausi">Patiekalai</a>
        </div>
        <div class="col-6 col-md-4">
            <a class="btn btn-dark btn-block d-flex align-items-center justify-content-center"
               asp-area="" asp-controller="Tables" asp-action="TablesPage">Staliukai</a>
        </div>
        <div class="col-6 col-md-4">
            <a class="btn btn-outline-dark btn-block d-flex align-items-center justify-content-center"
               asp-area="" asp-controller="Restaurant" asp-action="OpenRestaurantInfo">Restoranas</a>
        </div>
    </div>

    <br>

    <div class="skiltiespavadinimas">
        <p class="center">Restorano Staliukai</p>
    </div>

    <div class="row">
        <div class="col-12 col-md-8 offset-md-2">
            <a href="@Url.Action("OpenTableCreation", "Tables")" class="btn btn-outline-dark btn-block">Kurti naują staliuką</a>
        </div>
    </div>


    <br>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Staliuko numeris
                </th>
                <th>
                    Žmonių skaičius
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TableNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Capacity)
                    </td>
                    <td>
                        <a class="btn btn-outline-dark" asp-action="OpenTableEdit" asp-route-id="@item.TableNumber">Redaguoti</a>
                    </td>
                    <td>
                        <a class="btn btn-outline-danger" asp-action="OpenTableDelete" asp-route-id="@item.TableNumber">Ištrinti</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>


</div>

