@model List<Restoranas.Models.Patiekalas>

<h2>Patiekalų sąrašas</h2>

@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.ErrorMessage
    </div>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Pavadinimas</th>
                <th>Kaina</th>
                <th>Parduodamas</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Restoranas.Models.Patiekalas patiekalas in Model)
            {
                <tr>
                    <td>@patiekalas.patiekalo_Id</td>
                    <td>@patiekalas.pavadinimas</td>
                    <td>@patiekalas.kaina</td>
                    <td>@(patiekalas.parduodamas ? "Taip" : "Ne")</td>
                </tr>
            }
        </tbody>
    </table>
}
