@model List<Restoranas.Models.OrderItem>

@{
    ViewData["Title"] = "Kliento sąskaitos pateikimas";
    double totalPrice = ViewBag.TotalPrice;
    int visitId = ViewBag.VisitId;
}

<h2>Kliento sąskaita vizitui nr. @visitId</h2>

<table class="table">
    <thead>
        <tr>
            <th>Pavadinimas</th>
            <th>Kiekis</th>
            <th>Kaina</th>
            <th>Iš viso</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Count</td>
                <td>@(item.Price.ToString("C2"))</td>
                <td>@((item.Price * item.Count).ToString("C2"))</td>
            </tr>
        }
        <tr>
            <th colspan="3">Galutinė suma</th>
            <th>@(totalPrice.ToString("C2"))</th>
        </tr>
    </tbody>
</table>

<div class="buttons">
    <button onclick="history.back()" class="btn btn-danger">Atšaukti</button>
    <form method="post" action="@Url.Action("SubmitCheque", "Waiter", new { id = visitId })" style="display: inline;">
        <button type="submit" class="btn btn-success">Pateikti sąskaitą</button>
    </form>
</div>
